.button-row {
  display: flex;
  justify-content: space-between;
}

.first-row {
  margin-bottom: 10px;
}

button {
  &.primary {
    color: #ffffff;
    background-color: $darkGreen;
  }
  &.secondary {
    color: $darkGreen;
    background-color: rgb(226, 226, 226);
    &:hover {
      background-color: rgb(199, 199, 199);
    }
  }
  &.reset {
    color: $darkGreen;
    background-color: $teal;
    width: 80%;
    border-radius: 2px;
  }

  &:disabled {
    background-color: #021516;
    box-shadow: none;
    &:hover {
      background-color: #021516;
    }
  }

  font-family: inherit;
  height: 42.5px;
  width: 105px;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button:hover {
  background-color: $buttonHoverGreen;
}

button:active {
  transform: scale(0.97);
}

.toggle-box {
  position: relative;
  width: 105px;
  margin: 0px;
  padding: 0px;
  height: 42.5px;
}
