.calculator-container {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 850px;
  height: 480px;
  border-radius: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.values-container {
  margin-top: 10px;
}

.entry,
.values {
  width: 41%;
  height: 82%;
  border-radius: 16px;
  margin: 10px;
  padding: 10px;
}

.values {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $darkGreen;
  padding: 10px;
}

.reset-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h2,
h4 {
  color: $headerGreen;
}

h4 {
  margin-bottom: 10px;
}

h1,
h6 {
  color: $teal;
}

a {
  font-size: 0.5rem;
  text-decoration: none;
  color: $darkGreen;
}
